@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f5f5f5;
  --dark-pink: #F48A85;
  --pink: #FBA374;
  --dark-blue: #547066;
  --blue: #6F9082;
  --light-blue: #D4B59B;
  --yellow: rgb(250, 245, 240);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.bg-bg{
  background-color: var(--grey);
}
.text-dark-pink{
  color: var(--dark-pink);
}
.text-pink{
  color: var(--pink);
}
.text-dark-blue{
  color: var(--dark-blue);
}
.text-blue{
  color: var(--blue);
}
.text-light-blue{
  color: var(--light-blue);
}

.bg-dark-pink{
  background-color: var(--dark-pink);
}
.bg-pink{
  background-color: var(--pink);
}
.bg-dark-blue{
  background-color: var(--dark-blue);
}
.bg-blue{
  background-color: var(--blue);
}
.bg-light-blue{
  background-color: var(--light-blue);
}
.bg-yellow{
  background-color: var(--yellow);
}